---
version: '3.7'

services:
  nexus:
    hostname: nexus
    container_name: nexus
    image: 172.18.10.13:10080/base/nexus3:3.30.0
    restart: always
    ports:
      - 10080:8081
    volumes:
      - /data/nexus:/nexus-data
    networks:
      - nexus

networks:
  nexus:
    external: true
