---
version: "3"

services:
  gitlab:
    image: 'gitlab/gitlab-ce:12.1.6-ce.0'
    container_name: gitlab
    hostname: gitlab.3day.top
    restart: always

    environment:
      GITLAB_OMNIBUS_CONFIG: |
        #external_url 'http://gitlab.3day.top'
        gitlab_rails['time_zone'] = 'Asia/Shanghai'
        # ##### for https
        external_url 'https://gitlab.3day.top'
        nginx['ssl_certificate'] = "/etc/gitlab/ssl/gitlab.3day.top.pem"
        nginx['ssl_certificate_key'] = "/etc/gitlab/ssl/gitlab.3day.top.key"
        nginx['redirect_http_to_https'] = true
        # email setting
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "smtp.qiye.aliyun.com"
        gitlab_rails['smtp_port'] = 465
        gitlab_rails['smtp_user_name'] = "server@3day.top"
        gitlab_rails['smtp_password'] = "Q3j85hsLsiwskL"
        gitlab_rails['smtp_domain'] = "smtp.qiye.aliyun.com"
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['smtp_tls'] = true
        gitlab_rails['smtp_openssl_verify_mode'] = 'peer'
        gitlab_rails['gitlab_email_from'] = 'server@3day.top'
    ports:
      - '80:80'
      - '443:443'
      - '22:22'
    volumes:
      - '/data/gitlab/config:/etc/gitlab'
      - '/data/gitlab/logs:/var/log/gitlab'
      - '/data/gitlab/data:/var/opt/gitlab'
      - '/etc/localtime:/etc/localtime:ro'
    networks:
      - gitlab
    
networks:
  gitlab:
    external: true



