version: '3.7'

services:
  minio:
    container_name: minio
    hostname: minio
    image: minio/minio:RELEASE.2021-07-30T00-02-00Z
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: AKIAIOSFODNN7EXAMPLEx
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - /data/minio/data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

